In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier

In [74]:
data = pd.read_csv('202310-divvy-tripdata.csv')
data = data[pd.to_numeric(data['start_station_id'], errors='coerce').notnull()]
data = data[pd.to_numeric(data['end_station_id'], errors='coerce').notnull()]
data = data.dropna(subset=['start_station_id', 'end_station_id'])

In [99]:

start = pd.DataFrame(data['start_station_id'].value_counts())
end = pd.DataFrame(data['end_station_id'].value_counts())
start = start.rename(columns={'count': 'startcount'})
start.head()

                  startcount
start_station_id
13022                   2230
13300                   1883
13216                   1310
15544                   1284
13008                   1258

In [100]:
end = end.rename(columns={'count': 'endcount'})
end.head()

                endcount
end_station_id
13022               2546
13300               1703
13008               1403
13216               1305
13042               1289

In [102]:
stations = pd.concat([start['startcount'], end['endcount']], axis=1)
stations['total'] = stations['startcount'] + stations['endcount']
stations.head(10)
#stations['total'] = stations['start_station_id'] + stations['end_station_id']
#stations.head(10)

       startcount  endcount   total
13022      2230.0    2546.0  4776.0
13300      1883.0    1703.0  3586.0
13216      1310.0    1305.0  2615.0
15544      1284.0    1114.0  2398.0
13008      1258.0    1403.0  2661.0
13042      1150.0    1289.0  2439.0
13217      1092.0    1067.0  2159.0
13011      1004.0     943.0  1947.0
638         988.0    1047.0  2035.0
13061       965.0     964.0  1929.0