In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier

In [9]:
data = pd.read_csv('202310-divvy-tripdata.csv')
data = data.dropna(subset=['start_station_id', 'end_station_id'])

In [10]:
# find the number of start-stations and end-stations
start = pd.DataFrame(data['start_station_id'].value_counts())
end = pd.DataFrame(data['end_station_id'].value_counts())
start.head()

                  count
start_station_id
13022              3917
KA1503000071       3892
KA1503000014       3726
KA1503000043       3121
WL-012             3007

In [11]:
end.head()

                count
end_station_id
13022            4148
KA1503000071     3924
KA1503000014     3700
WL-012           3129
KA1503000043     3007

In [12]:
# Create a DataFrame with the check-outs and check-ins
# Create a columns that sums check-outs and check-ins
stations = pd.concat([start, end], axis=1)
stations.rename(columns = {"start_station_id":'checkouts', "end_station_id": 'checkins'}, inplace=True)
stations['total'] = stations["checkouts"] + stations["checkins"]

# we will use the top 10 stations
stat_count = stations.sort_values('total', ascending=False).head(10)
stats = list(stat_count.index)

KeyError: 'checkouts'