In [21]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier

In [26]:
data = pd.read_csv('202310-divvy-tripdata.csv')
data = data[pd.to_numeric(data['start_station_id'], errors='coerce').notnull()]
data = data[pd.to_numeric(data['end_station_id'], errors='coerce').notnull()]
data = data.dropna(subset=['start_station_id', 'end_station_id'])

In [41]:
data.rename(columns = {'start_station_id': 'startid', 'end_station_id': 'endid'}, inplace=True)

In [65]:
# find the number of start-stations and end-stations
start = (data['startid'].value_counts())
end = (data['endid'].value_counts())
start = pd.DataFrame(start)
end = pd.DataFrame(end)
start.head()

         count
startid
13022     2230
13300     1883
13216     1310
15544     1284
13008     1258

In [66]:
end.head()

       count
endid
13022   2546
13300   1703
13008   1403
13216   1305
13042   1289

In [71]:
# Create a DataFrame with the check-outs and check-ins
# Create a columns that sums check-outs and check-ins
start.rename(columns={'count': "startcount"})
end.rename(columns={'count': 'endcount'})
start = pd.Series(start['count'])
start.head()
# stations = pd.concat([start, end], axis=1)
# stations.head()
# # #stations.rename(columns = {"start_station_id":'checkouts', "end_station_id": 'checkins'}, inplace=True)
# # stations['total'] = stations['startid'] + stations['endid']
# stations.head()
# # we will use the top 10 stations
# stat_count = stations.sort_values('total', ascending=False).head(10)
# stats = list(stat_count.index)

startid
13022    2230
13300    1883
13216    1310
15544    1284
13008    1258
Name: count, dtype: int64